.popup__input-error {
  /* display: none; */
  display: flex; /* добавил */
  visibility: hidden;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #FF0000;
}
