.profile__subtitle {
  margin: 16px 0 0 0;
  min-width: 336px;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}

@media screen and (max-width: 710px) {
  .profile__subtitle {
    max-width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .profile__subtitle {
    margin-top: 14px;
    min-width: auto;
    font-size: 14px;
    line-height: 17px;
  }
}
